<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="heading">Task Manager Login</div>
    <div class="box">
      <form action="/submit" method="post">
        <div class="username">
          username
          <input type="text" name="username" />
        </div>
        <div class="password">
          password
          <input type="password" name="password" />
        </div>
        <div class="l_regis">
          <input type="submit" value="login" />
          <a href="/register">new registration</a>
        </div>
      </form>
    </div>
  </body>
</html>
